# NativeScript
mobileapp/hooks/
mobileapp/node_modules/
mobileapp/platforms/

# NativeScript Template
*.js.map
*.js
!ngcc.config.js
!webpack.config.js

# Logs
mobileapp/logs
mobileapp/*.log
mobileapp/npm-debug.log*
mobileapp/yarn-debug.log*
mobileapp/yarn-error.log*

# General
.DS_Store
.AppleDouble
.LSOverride
.idea
.cloud
.project
tmp/
typings/

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
