<div>

  <button type="button"  (click)="getProjects()">Refresh</button>
  <button type="button" (click)="openAddModal()">Add project</button>

  <br>
  <br>

  <ul class="list-group container">
    <li *ngFor="let project of projects" class="list-group-item">
      <div class="row">

        <div class="col-10">
          {{ project.name }}
        </div>

        <button class="col-1" [routerLink]="['/project', project.id]">
          Edit
        </button>

        <button class="col-1" (click)="delete(project)">
          Delete
        </button>
      </div>
    </li>
  </ul>

</div>
